.slider {
  position: relative;
}
.slide{
  position:relative;
}
.currency {
  left: 0;
  position:absolute;
  text-align:center;
  top: 45%;
  width: 100%;
 z-index: 10;
  color: white;
  font-size: 50px;
}
